.mb-3 {
    margin-bottom: 30px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-1 {
    margin-bottom: 10px;
}

.season, .day {
    background: #1a9bdc;
    color: #fff;
    border-color: #1a9bdc;
}
.baner{
    width: 100%;
    min-height: 180px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(../images/banner.jpg);
    background-size: cover;
}

.advertising-page div .packet-item{
    padding: 5px;
    border: 3px solid #3c3c44;
}

.advertising-page {
    padding-top: 40px;
    padding-bottom: 40px;
}

.advertising-page .container .inner-title {
    text-align: center;
}
.advertising-page .container .intro-paragraph {
    text-align: center;
    padding-bottom: 30px;
}

.advertising-page .container .row article header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #1a9bdc;
}

.advertising-page .container .row article header h4 {
    color: #fff;
}

.advertising-page .container .row article footer .readmore {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-decoration: none;
    color: #fff;
    background: #1a9bdc;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.advertising-page .container .row .col-md-4 {
    padding-top: 2%;
}

.pack-intro h3 {
    text-align: center;
    margin-top: 40px;
}

.pack-intro hr {
    border-top: 1px solid #000;
} 

.f-title h2 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.about-excerpt {
    margin-bottom: 50px;
}

.about-excerpt hr {
    border-top: 1px solid #6495ed; 
}

.aboutUs .info-img {
    text-align: center;
    background: #1a9bdc;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    line-height: 10;
}

.block-item {
    margin-bottom: 50px;
}
.forCustomers {
    margin-bottom: 40px;
}

.forCustomers .row {
    background: #fff;
}

.forCustomers p {
    text-align: justify;
}

.forCustomers .medical {
    width: 70%;
    padding-top: 20px;
    padding-left: 0%;
    margin-left: 15%;
}


.forClients {
    margin-bottom: 40px;
}

.forClients .row {
    background-color: #1a9bdc;
    color: #fff;
}

.forClients p {
    text-align: justify;
}

.forClients .shakeHands {
    width: 70%;
    padding-top: 55px;
    padding-left: 0%;
}

.forClients h2 {
    color: #fff;
}

@media (max-width:1200px) {

    .forClients .shakeHands {
        width: 70%;
        padding-top: 100px;
    }
}

@media (max-width:992px) {

    .forClients .shakeHands {
        width: 70%;
        padding-top: 55px;
    }
}

.faq-search #search form #search-text {
    background-color: #1a9bdc;
    width: 100%;
    padding: 13px 10px 13px 40px;
    border: none;
    outline: none;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: -5px;
    max-width: 400px;
}

::placeholder {
    color:#fff;
    opacity: 1; /* Firefox */
}

.topHeading {
    text-align: center;
    margin-top: 50px;
}

.faq-page div div div {
    text-align: center;
}

.faq-search #search form input[type="submit"] {
    background: url(../images/search-submit.png) center no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    left: unset;
    top: 12px;
    z-index: 999;
    border: none;
    outline: none;
    padding: 0;
    margin-left: 14px;
}

.not-found {
    display: none;
}

.not-found h3 {
    padding: 20px 40px 20px 20px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
}

.privacy {
    text-align: center;
}

.privacy-terms hr {
    border-top: 3px solid #1a9bdc;
}

.politics-privacy {
    margin-top: 40px;
}

.info-privacy {
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px #000;
}

.others-privacy {
    background-color: #1a9bdc;
    color: #fff;
    box-shadow: 0 0 20px #000;
}

.others-privacy h2 {
    color: #fff;
}

.privacy-terms:nth-child(2) {
    margin-bottom: 15px;
}

.search-page {
    margin-top: 40px;
}

.list-header {
    background: #fff;
    padding: 27px;
    margin-bottom: 40px;
}

@media (max-width:375px) {

    .list-header {
        background: #fff;
        padding: 0px;
        margin-bottom: 40px;
    }
}

.list-header h4 {
    margin: 0;
    padding-bottom: 15px;
    padding-left: 0;
}

.list-header p {
    margin-top: 0px;
    text-align: justify;
}

.filter-search {
    border-color: #428bca;
}

.filter-search div input:nth-child(2) {
    background-color: #428bca;
    width: 100%;
    padding: 13px 10px 13px 40px;
    border: none;
    outline: none;
    font-weight: 400;
    color: #ffffff;
    margin-top: -5px;
    max-width: 400px;
}

.filter-search span:nth-child(2) {
    float: right;
    cursor: pointer;
}

.filter-search input:nth-child(1) {
    background: url(../images/search-submit.png) center no-repeat;
    width: 12px;
    height: 35px;
    position: absolute;
    left: unset;
    top: unset;
    z-index: 999;
    border: none;
    outline: none;
    padding: 0;
    margin-left: 14px;
}

.filter-search div {
    margin-top: 10px;
}

.panel {
    border-radius: 0;
    margin-bottom: 3px;
    border-color: #fff !important;
}

.panel-primary > .panel-heading {
    margin-top: 0;
    margin-left: 10px;
    border-radius: 0;
    border-color: #fff;
    color: #428bca;
    background-color: unset !important
}

label {
    color: #828282 !important;
    line-height: 1;
}


input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    padding: 0.2em;
    padding-left: 20px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 1px solid #828282;
    border-radius: 2px;
    display: inline-block;
    width: 17px;
    height: 17px;
    font-size: 16px;
    padding-left: 0.1em;
    margin-right: 20px;
    vertical-align: bottom;
    color: #f0f5f7;
    transition: 0.3s;
    background-color: #f0f5f7;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    font-size: 14px;
    padding-top: 1px;
}
.readmore {
    background: transparent;
    border: none;
    outline: none;
    color: #428bca;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    font-weight: 700;
    text-align: right;
    margin-right: 10px;
}

.ul-categories {
    margin-left: 15px !important;
}
.search-page .map {
 margin-bottom: 20px;
}

.search-page .title {
    margin: 0 0 10px !important;
}

.search-page .panel {
    box-shadow: 0px 4px 8px 0px rgba(66, 139, 202, 0.34);
    margin-bottom: 22px;
}

.search-results {
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px 0px rgba(66, 139, 202, 0.34);
}

.search-results-panel {
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px 0px rgba(66, 139, 202, 0.34);
}

.search-results img {
    width: 100%;
    object-fit: cover;
}

.search-results .fas {
    float: left;
    margin-top: 5px;
    margin-right: 7px;
    font-size: 15px;
}

.search-results .far {
    float: left;
    margin-right: 7px;
    font-size: 15px;
    margin-top: 5px
}

.services {
    margin-top: 22px;
    padding-bottom: 20px;
}

.services ul {
    padding-left: 30px;
}

.services h4 {
    padding-bottom: 10px;
    margin-left: 10px;
}

.sale .fas {
    font-size: 60px;
    padding-bottom: 21px;
}

.search-results div div:nth-child(3) {
    margin-top: 5px;
    border-left: 1px solid;
    margin-bottom: 5px;
    overflow: hidden;
}

.apoteka-results {
    margin-left: 15px;
    margin-top: 28px;
}

.apoteka-results p {
    margin-bottom: 10px;
    font-size: 14px;
}

.sale img {
    width: 92%;
}

.apoteka-results p:nth-child(7){
    float: left;
}

.open {
    color: navy;
}

.closed {
    color: red;
}


@media (max-width:1200px) {

    .search-results div .action-pic {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .search-results div .info-pic {
        padding-right: 0;
    }
    
    .search-results div div:nth-child(3) {
        border-left: 1px solid;
        overflow: hidden;
    }
    
    .med-inside {
        height: 164px !important;
    }
    
    .apoteka-results {
        margin-left: 15px;
        padding-bottom: 20px;
        padding-top: 0;
    }
    
    .search-results .fas {
        float: left;
        margin-top: 2px;
        margin-right: 7px;
        font-size: unset;
    }
    
    .apoteka-results p {
        margin-bottom: unset;
        font-size: 16px;
        float: left;
        margin-right: 20px;
    }
    
    .apoteka-results p:nth-child(7) {
        float: unset;
    }
    
    .apoteka-results p:nth-child(5) {
        float: none;
    }
}


@media (max-width:992px) {
    .search-results div .action-pic {
        padding-left: 25px;
    }
    
    .search-results div .info-pic {
        padding-right: 15px;
    }
    
    .search-results div div:nth-child(3) {
        margin-top: 13px;
    }
    
    .med-inside {
        height: unset !important;
    }
    
    .search-results .fas {
        float: left;
        margin-top: 2px;
        margin-right: 7px;
        font-size: unset;
    }
    
    .apoteka-results p {
        margin-bottom: unset;
        font-size: 16px;
        float: unset;
        margin-right: 20px;
    }
}

.box {
    position:relative;
    float:left;
    width: 100%;
    max-width: 200px;
}
.ribbon {
    position: absolute;
    right: 14px;
    top: 6px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px; 
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    color: #fff; 
    text-transform: uppercase; 
    text-align: center;
    font-weight: bold; line-height: 20px;
    transform: rotate(45deg);
    width: 100px; display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: '';
    position: absolute; 
    left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon span::after {
    content: '';
    position: absolute; 
    right: 0%; top: 100%;
    z-index: -1;
    border-right: 3px solid #79A70A;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.red span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
.red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

.blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
.blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
.blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}

@media (max-width:768px) {

    .search-results div div:nth-child(3) {
        margin-top: 0px;
        border-left: unset;
        margin-left: 10px;
        margin-bottom: unset;
        overflow: hidden;
    }
}

.pagination-wrap {
    margin-bottom: 50px;
    overflow: hidden;
}

.pagination {
    display: flex;
    justify-content: center;
}

.panel .widget {
    margin-bottom: 3px;
}

.switch {
    position: relative;
}

.switch label {
    width: 55px;
    height: 23px;
    position: inherit;
    background-color: #999;
    border-radius: 50px;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.switch input[type="checkbox"] {
    visibility: hidden;
}

.switch input[type=checkbox] + label:before {
    display: none;
}

.switch label::after {
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 50px;
    position: absolute;
    top: 0.8px;
    left: 1px;
    transition: all 0.1s ;
    background-color: #fff;
}

.switch input[type="checkbox"]:checked + label:after {
    left: 33px;
}

.switch input[type="checkbox"]:checked + label {
    background-color: #1a9bdc;
}

.switch-box {
    padding-top: 5px;
    padding-bottom: 5px;
}

.switch-box span {
    font-size: 18px;
    margin-left: 15px;
    vertical-align: -webkit-baseline-middle;
    font-family: sans-serif;
    font-weight: 700;
    color: #428bca;
}

.panel-heading {
    padding-left: 10px;
} 

@media (max-width:465px) {
    .switch-box {
        display: none;
    }
}


@media (max-width:670px) {
    .list-header h4 {
        margin: 0;
        padding: 20%;
    }
    
    .list-header p {
        display: none;
    }
}

#highlight {
    background-color: #90ee901a;
}

.med-inside {
    height: 184px;
}

.search-results { transition: all .2s ease-in-out; }
.search-results:hover { transform: scale(1.01); }


@media (max-width:430px) {
    .search-results div .action-pic {
        margin-left: 0px !important;
    }
}

#toast-container div .toast-message button {
    font-size: 14px;
    padding: 5px 16px;
    border: 1px solid #fff;
    background: #2F96B4;
    color: #fff;
    border-radius: 3px;
}

#toast-container div .toast-message .button :hover {
    background: #fff !important;
    color: #2F96B4 !important;
}

@media (max-width:334px) {
    input[type=checkbox] + label:before {
        margin-bottom: 10px;
    }
}
.products-list {
    padding: 25px;
}
.apoteka-results .tags a {
    display: inline-block;
    height: 21px;
    margin: 0 10px 0 0;
    padding: 0 7px 0 14px;
    white-space: nowrap;
    position: relative;

    background: -moz-linear-gradient(top, #fed970 0%, #febc4a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed970), color-stop(100%,#febc4a));
    background: -webkit-linear-gradient(top, #fed970 0%,#febc4a 100%);
    background: -o-linear-gradient(top, #fed970 0%,#febc4a 100%);
    background: linear-gradient(to bottom, #fed970 0%,#febc4a 100%);
    background-color: #FEC95B;

    color: #963;
    font: bold 11px/21px Arial, Tahoma, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.4);

    border-top: 1px solid #EDB14A;
    border-bottom: 1px solid #CE922E;
    border-right: 1px solid #DCA03B;
    border-radius: 1px 3px 3px 1px;
    box-shadow: inset 0 1px #FEE395, 0 1px 2px rgba(0,0,0,0.21);
}
.apoteka-results .tags a:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -6px;
    width: 10px;
    height: 10px;

    background: -moz-linear-gradient(45deg, #fed970 0%, #febc4a 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fed970), color-stop(100%,#febc4a));
    background: -webkit-linear-gradient(-45deg, #fed970 0%,#febc4a 100%);
    background: -o-linear-gradient(45deg, #fed970 0%,#febc4a 100%);
    background: linear-gradient(135deg, #fed970 0%,#febc4a 100%);
    background-color: #FEC95B;

    border-left: 1px solid #EDB14A;
    border-bottom: 1px solid #CE922E;
    border-radius: 0 0 0 2px;
    box-shadow: inset 1px 0 #FEDB7C, 0 2px 2px -2px rgba(0,0,0,0.33);
}
.apoteka-results .tags a:before {
    -webkit-transform: scale(1, 1.5) rotate(45deg);
    -moz-transform: scale(1, 1.5) rotate(45deg);
    -ms-transform: scale(1, 1.5) rotate(45deg);
    transform: scale(1, 1.5) rotate(45deg);
}
.apoteka-results .tags a:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 1px;
    width: 5px;
    height: 5px;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #DCA03B;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.21);
}
.apoteka-results .tags a:hover {
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(153,102,51,0.3);
}
.search-results .price {
    min-height: 139px;
    padding-right: 25px;
    border-left: 1px solid #008000 !important;
}
.search-results .price span {
    font-size: 20px;
    font-weight: 700;
    color: darkgreen;
}
@media (min-width: 1200px) {
    .search-results .price {
        min-height: 177px;
    }
}
@media (max-width: 769px) {
    .search-results .price {
        min-height: 139px;
        padding-right: 25px;
        border-left:none !important;
    }
}
.products-page .filter-search div input:nth-child(2) {
    max-width: 100% !important;
}
.products-page .price {
    overflow: unset !important;
}
.products-page .price .action {
    position: absolute;
    bottom: 0px;
    right: 15px;
    padding: 5px;
    text-align: center;
    background: #FEC95B;
    color: #963;
    width: 93%;
}
@media (max-width: 1200px) {

    .products-page .price .action {
        position: absolute;
        bottom: 0px;
        right: 14px;
        padding: 1px;
        text-align: center;
        background: #FEC95B;
        color: #963;
        width: 92%;
    }
}
@media (max-width: 991px) {
    .products-page .price .action {
        width: 94%;
    }
}
@media (max-width: 771px) {
    .products-page .price {
        border-left:1px solid #008000 !important;
        margin-left: unset !important;
    }
}

@media (max-width: 768px) {
    .products-page .price {
        border-left:unset !important;
        margin-left: 15px !important;
    }
    .products-page .price .action {
        border-left:unset !important;
        margin-left: 15px !important;
        width: unset !important;
        right: 30px;
        left: -16px ;
    }
}
/*product page */

.product-name {
    height: 30px !important;
} 
#whereToFind h3{
    text-align: center;
}
#whereToFind .fas {
    font-size: 16px;
    padding-bottom: 0;
}

#products img {
    width: 100%;
}
#products .height-content {
    height: 198px;
}
#products .height-content img {
    height: -webkit-fill-available;
}
@media (max-width:1199px) {

    #products .height-content {
        height: 158px;
    }
}
@media (max-width:991px ) {

    #products .height-content {
        height: 113px;
    }
}
@media (max-width: 767px) {

    #products .height-content {
        height: unset;
    }
    #products .height-content img {
        height: unset;
    }
}
#products h3 {
    text-align: left;
}
.products .ribbon {
    right: 0px;
}
.woocommerce div.product div.images {
    position: relative;
}
.woocommerce div.product div.images .ribbon {
    right: -4px;
    top: -4px;
}
html {
  scroll-behavior: smooth;
}
/*----Pharmacy profile page-----*/

.pharmacy-header-wrap {
 background-color: rgba(26, 155, 220, 0.55);
 background-image: linear-gradient(to right, rgba(26, 155, 220, 0.49) , rgba(26, 155, 220, 0.5));
 position: absolute;
 bottom: 0;
 z-index: 10;
 color: #fff;
}
.home-slider .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.pharmacy-logo-wrap {
    margin-top: -100px;
    z-index: 10;
    padding: 0 10px;
}
.pharmacy-info {
    padding: 10px 0;
}
.pharmacy-info h1 {
    margin: 0;
    margin-bottom: 10px;
    color: #fff;
}
.pharmacy-info .far, .pharmacy-info .fas {
    font-size: 34px;
    line-height: 40px;
    margin-right: 20px;
    float: left;
}
.pharmacy-info .pharmacy-block {
    line-height: 14px;
}
.pharmacy-logo-wrap .pharmacy-logo img {
    max-width: 220px;
    width: 100%;
    max-height: 210px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
@media (min-width: 1200px) {
    .pharmacy-address {
        line-height: 40px !important;
    }
}
@media (max-width: 1200px) {
    .pharmacy-header-wrap {
        background-color: rgb(26, 155, 220);
        background-image: linear-gradient(to right, rgba(26, 155, 220, 0.49) , rgba(26, 155, 220, 0.5));
        position: unset;
        bottom: 0;
        z-index: 10;
        color: #fff;
    }
}
@media (max-width: 992px) {
    .pharmacy-info .far {
        font-size: 20px;
        line-height: 20px;
        margin-right: 20px;
        float: left;
        margin-bottom: 13px;
    }
    .pharmacy-info .fas { 
        margin-left: 3px;
        margin-right: 22px;
        font-size: 20px;
        line-height: 20px;
        float: left;
        margin-bottom: 13px;
    }
    .pharmacy-logo-wrap {
        margin-top: -24px;
        z-index: 10;
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .pharmacy-header-wrap {
        text-align: center;
    }
    .pharmacy-info .far, .pharmacy-info .fas {
        float: unset;
    }
    .pharmacy-logo-wrap .pharmacy-logo img {
        max-width: 190px;
    }
    .pharmacy-logo-wrap {
        margin-top: -120px;
    }
    .pharmacy-info {
        padding: : 10px 15px;
    }
}
#map-header {
    margin-top: 0px;
}
.map-location {
    padding: 0;
}
.contact-page .map-wrapper h5 {
    margin-left: 20px;
}
.small-worker-profile .flexslider-three .flex-direction-nav .flex-prev {
    left: 0% !important; 
}
.small-worker-profile .flexslider-three .flex-direction-nav .flex-next {
    right: 0% !important;
}
.home-testimonial .flexslider-three .flex-direction-nav a {
    top: 142px;
}
.home-blog.blog-var-two .common-blog-post figure img {
    width: 100%;
}
.home-blog.blog-var-two .common-blog-post div .ribbon {
    right: -4px;
    top: -5px;
}
.home-blog.blog-var-two .common-blog-post figure .ribbon {
    right: 10px;
    top: -5px;
}
.single-feature img {
 height: 75px;
} 
.single-feature a {
    margin-top: 20px;
}
